
//header
.blog_header{
    padding-top: 29px;
    margin-bottom: 50px;
  
}
  .blog_header_logo_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
 }


//result_line
.result_line{
    max-width: 1350px;
    width: 100%;
    height: 1px;
    opacity: 0.1;
    border: 1px solid #000000;
     margin: 0 auto;
    margin-bottom: 115px;
}


//cooperation
.cooperation {
    width: 100%;
    margin-bottom: 125px;
    position: relative;
}
.cooperation_wrapper {
    max-width: 936px;
    width: 100%;
    margin: 0 auto;
}
.cooperation_title {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
}
.cooperation_info {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #3E4143;
}
.cooperation_info_second{
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
}
.cooperation_title_wrapper {
    margin-bottom: 20px;
}
#sign_up_label{
    max-width: 440px;
    margin: 0 auto;
}
.cooperation_form_wrapper {
    max-width: 936px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 56px;
    padding: 90px 78px 60px 78px;
}
.cooperation_form_input_title {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    margin-bottom: 5px;
}

.cooperation_form_input_title span{
    color: #FF4040;
}
.cooperation_form_input_info {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    color: #3E4143;
    margin-bottom: 5px;
}
.cooperation_form_input_title_wrapper {
    margin-bottom: 16px;
}
.cooperation_line {
    max-width: 776px;
    width: 100%;
    height: 0px;
    border: 1px solid #EFEFEF;
    margin-bottom: 27px;
}
.cooperation_form_input_field_title_wrapper {
    margin-bottom: 40px;
}
.send_form_btn{
    background: linear-gradient(90deg, #6ABE5C 0%, #6ED87F 100%);
    box-shadow: 0px 20px 30px rgba(24, 227, 68, 0.35), inset 0px 4px 30px rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 35px 46px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.sign_up_form_btn{
    background: linear-gradient(90deg, #6ABE5C 0%, #6ED87F 100%);
    box-shadow: 0px 20px 30px rgba(24, 227, 68, 0.35), inset 0px 4px 30px rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 35px 0;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 278px;
}
.sign_up_form_btn_wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 157%);
}
.send_form_btn_wrapper {
    position: absolute;
}
.sign_main-label {
    width: 100%;
    max-width: 389px;
    min-height: 67px;
    margin-bottom: 20px;
    background: #F7F7F9;
    border-radius: 16px;
    display: flex;
   flex-direction: column;
    position: relative;
    cursor: pointer;
   padding: 22px 30px;
   box-sizing: border-box;
   transition: all 0.5s;
  
}

.label-text{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    opacity: 0.5;
    position: absolute;
}
#name_surname_label{
   max-width: 778px;
   width: 100%;

}
.cooperation_main-label_textarea{
    max-width: 778px;
    margin-bottom: 20px;
    min-height: 115px;
    background: #F7F7F9;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
   padding: 22px 30px;
   display: flex;
   flex-direction: column;
   transition: all 0.5s;
}
.sign_main-label.active  .label-text{
    top: -12px;
    background: #ffffff;
    font-size: 14px;
    opacity: 1;
    padding:  2px 8px;
    transition: all 0.5s;
}
.cooperation_main-label_textarea.active  .label-text{
    top: -12px;
    background: #ffffff;
    font-size: 14px;
    opacity: 1;
    padding:  2px 8px;
    transition: all 0.5s;
}
.cooperation_main-label_textarea textarea{
    resize: none;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}
.sign_main-label.active{
    background: #FFFFFF;
    border: 2px solid #87D17B;
    box-shadow: 0px 4px 12px rgba(82, 218, 128, 0.15);
   

}
.cooperation_main-label_textarea.active{
    background: #FFFFFF;
    border: 2px solid #87D17B;
    box-shadow: 0px 4px 12px rgba(82, 218, 128, 0.15);
   

}
.personal_data_input_field {
    border: none;
    background: none;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    width: 100%;


}
.personal_data_input_field:focus{
    outline: none;
}
.personal_data_input_field:active{
    outline: none;
}
.cooperation_label_text{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    opacity: 0.5;
}
.cooperation_label{
    width: 103px;
    height: 67px;
    background: #F7F7F9;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.cooperation_radio_inputs_wrapper {
    display: flex;
    align-items: center;
}
.cooperation_radio_input.active  .cooperation_label{
    background: #FFFFFF;
    border: 2px solid #87D17B;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px rgba(82, 218, 128, 0.15);
}
.cooperation_radio_input.active .cooperation_label_text{
    opacity: 1;
}
.profile_input_wrapper{
    width: 154px;
    height: 154px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(43, 51, 45, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 50px 34px;
    position: relative;
}
.profile_input_wrapper svg{
    margin: 0 auto;
}
.file_input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .file_input::before {
    content: 'Загрузить';
  }
  .file_input{
      width: 100%;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      text-align: center;
      color: #000000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-28%, 1%);
    
      
  }
  .file_input:focus{
      outline: none;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      text-align: center;
      color: #000000;
  }
    // .open_file_btn {
    //     font-family: 'Manrope', sans-serif;
    //     font-style: normal;
    //     font-weight: 600;
    //     font-size: 17px;
    //     text-align: center;
    //     color: #000000;
    //     border: none;
    //     background: none;
    //     cursor: pointer;
    // }





//media
  

    @media (min-width:651px) and (max-width:936px){
        .cooperation_form_wrapper{
            padding: 70px 50px 60px 50px!important;
            border-radius: 25px!important;
        }
    }
    @media (min-width:451px) and (max-width:650px){
        .cooperation_form_wrapper{
            padding: 70px 30px 60px 30px!important;
            border-radius: 25px!important;
        }
    }
    @media (max-width:450px){
        .cooperation_form_wrapper{
            padding: 70px 20px 60px 20px!important;
            border-radius: 15px!important;
        }
    }

    @media(max-width:454px){
        .blog_header {
            margin-bottom: 20px!important;
        }  
    .blog_header_logo_wrapper img {
            width: 140px!important;
        
        }
    }

    @media (min-width:651px) and (max-width:800px){
        .cooperation_title {
            font-size: 38px!important;
        }
    }
    @media (min-width:426px) and (max-width:650px){
        .cooperation_title {
            font-size: 34px!important;
        }
    }
    @media (min-width:426px) and (max-width:485px){
        .cooperation_title {
            font-size: 30px!important;
        }
    }

    @media  (max-width:425px){
        .cooperation_title {
            font-size:28px!important;
        }
        .cooperation_form_input_title {
            text-align: center;
            font-size: 20px!important;
        }
        .cooperation_form_input_info{
            text-align: center;
            font-size: 14px!important;
        }
        .personal_data_input_field {
            font-size: 16px!important;
        }
        .label-text {
            font-size: 16px!important;
        }
        .cooperation_label_text{
            font-size: 16px!important;
        }
        .send_form_btn {
            padding: 20px 35px!important;
            font-size: 16px!important;
        }
       
        .send_form_btn_wrapper {
            bottom: -31px;
        }
        .send_form_btn_wrapper {
        
        }
        .cooperation {
            margin-bottom: 100px!important;
        }
        .cooperation_label {
            height: 57px!important;
        }
        .sign_up_form_btn_wrapper {
            transform: translate(-50%,228%)!important;
        }
    }

    @media (min-width:351px) and (max-width:425px){
        .cooperation_info {
            font-size: 18px!important;
        }
        .sign_up_form_btn {
            padding: 20px 0!important;
            font-size: 16px!important;
            width: 250px!important;
            border-radius: 40px!important;
        }
    }


    
    @media (max-width:350px){
        .cooperation_info {
            font-size: 16px!important;
        }
        .sign_up_form_btn {
            padding: 20px 0!important;
            font-size: 16px!important;
            width: 220px!important;
            border-radius: 30px!important;
        }
    }

    @media (min-width:426px) and (max-width:650px){
        .send_form_btn {
            padding: 30px 40px!important;
        }
        .sign_up_form_btn {
            padding: 30px 0!important;
            width: 270px!important;
        }
    }