//blog

.blog_header{
    padding-top: 29px;
    margin-bottom: 50px;
  
}
  .blog_header_logo_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.our_blog_main_title_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
 .our_blog_main_title{
    font-family: 'Manrope', sans-serif;   
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    text-align: center;
    color: #000000;
}
}

.our_blog_page_wrapper{
    background-image: url("../images/blog_blog.png")!important;
    background-size: cover;
}
//our_blog
.our_blog{
    width: 100%;
    margin-bottom: 53px;
}
    .our_blog_wrapper{
        width: 100%;
        max-width: 974px;
        margin: 0 auto;
    }
    .our_blog_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 16px;
        padding: 40px 45px;
        margin-bottom: 35px;
    }
    .our_blog_item_date_title{
        font-family: 'Manrope', sans-serif;  
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #757575;
        margin-bottom: 10px;
    }
 .our_blog_item_big_title_link{
    font-family: 'Manrope', sans-serif; 
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    color: #000000;
    margin-bottom: 21px;
    text-decoration: none;
    cursor: pointer;
 }
 .our_blog_item_info{
    font-family: 'Manrope', sans-serif; 
    font-style: normal;
    font-weight: 300;
    font-size: 18px;    
    color: #000000;
    
 }
 .our_blog_item_img_wrapper{
     margin-bottom:  21px;
 }
 .our_blog_show_more_link{
    font-family: 'Manrope', sans-serif; 
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #6ABE5C;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
 }
 .our_blog_show_more_link_wrapper{
     text-align: center;
     margin-bottom: 20px;
 }
 .hidden_items{
     display: none;
 }
 .hidden_items.open{
    display: block!important;
}


.our_blog_item_main_wrapper{
    max-width: 1172px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 127px;
    background: #FFFFFF;
    border-radius: 56px;
    padding: 88px 99px;
}
    .our_blog_item_wrapper{
        max-width: 979px;
        width: 100%;
        margin: 0 auto;
    }
    .our_blog_main_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .our_blog_main_link_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 26px;
    }
    .our_blog_main_link_wrapper svg{
        margin-right: 10px;
    }
 .our_blog_main_link{ 
    font-family: 'Manrope', sans-serif;   
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    text-transform: lowercase;
    color: #969696;
    text-decoration: none;
    }
    .our_blog_main_item_first_info_title {
        font-family: 'Manrope', sans-serif; 
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #000000;
        margin-bottom: 8px;
    }
    .our_blog_main_item_first_info_wrapper {
        margin: 40px 0;
    }
.our_blog_main_item_first_info_text1 {
       font-family: 'Manrope', sans-serif; 
        font-style: normal;
        font-weight: 300;
        font-size: 19px;
        line-height: 170%;
        color: #000000;
        margin-bottom: 19px;
    }
    .our_blog_main_item_first_info_list {
        font-family: 'Manrope', sans-serif; 
        list-style-position: inside;
        font-style: normal;
        font-weight: 300;
        font-size: 19px;
        line-height: 170%;
        color: #000000;
        list-style: none;
    }
    .our_blog_main_item_first_info_list::before {
       content: "\2022";
       color: #6ABE5C;
       font-family: 'Manrope', sans-serif; 
       font-weight: bold;
       display: inline-block; 
       width: 1em;
       font-size: 22px;
    }
   
.our_blog_line{
    max-width: 974px;
    width: 100%;
    margin: 0 auto;
    margin-top: 63px;
    margin-bottom: 47px;
    height: 1px;
    border: 1px solid #EFEFEF;
    }

    .our_blog_social_links_title {
        font-family: 'Manrope', sans-serif; 
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #000000;
        margin-bottom: 11px;
    }
    .our_blog_social_links_items_wrapper {
        display: flex;
        align-items: center;
    }
    .our_blog_social_links_item{
        margin-right: 10px;
        cursor: pointer;
    }
@media(min-width:801px) and (max-width:1120px){
.our_blog_main_title {
    font-size: 40px!important;
 }
 .our_blog_item_big_title_link {
    font-weight: 600;
    font-size: 24px!important;
}
}
@media(min-width:651px) and (max-width:800px){
    .our_blog_main_title {
        font-size: 38px!important;
    }
    .our_blog_item_big_title_link {
        font-size: 22px!important;
    }
 }
    
    @media(min-width:651px) and (max-width:800px){
        .our_blog_main_title { 
            font-size: 38px!important;
        }
        .our_blog_item_main_wrapper {
            margin-bottom: 100px!important;
        }
        .blog_header {
            margin-bottom: 40px!important;
        }
        .our_blog_item_big_title_link {
            font-size: 20px!important;
        }
        .our_blog_item_main_wrapper {
            border-radius: 40px!important;
            padding: 70px!important;
        }
        .our_blog_main_item_first_info_title {
            font-size: 22px!important;
        }
     }

     @media(min-width:426px) and  (max-width:650px){
        .our_blog_item_main_wrapper {
            border-radius: 30px!important;
            padding: 50px 30px!important;
        }
        .our_blog_main_item_first_info_title {
            font-size: 20px!important;
           
        }
        .our_blog_item_main_wrapper {
            margin-bottom: 70px!important;
        }
     }
    
     @media(min-width:455px) and (max-width:650px){
        .our_blog_main_title { 
            font-size: 35px!important;
        }
        .our_blog_main_title_wrapper {
            margin-bottom: 30px!important;
        }
        .blog_header {
            margin-bottom: 30px!important;
        }
        .our_blog_item_big_title_link {
            font-size: 18px!important;
        }
        .our_blog_main_link {
            font-size: 24px!important;
        }
     }

     @media(max-width:454px){
            .blog_header {
                margin-bottom: 20px!important;
            }  
        .blog_header_logo_wrapper img {
                width: 140px!important;
            
            }
  }
    
     @media(min-width:426px) and (max-width:454px){
        .our_blog_main_link {
            font-size: 22px!important;
        }

     }

     @media(min-width:408px) and (max-width:454px){
        .our_blog_main_title { 
            font-size: 28px!important;
        }
        .our_blog_main_title_wrapper {
            margin-bottom: 25px!important;
        }
        .our_blog_item_big_title_link {
            font-size: 16px!important;
            margin-bottom: 15px!important;
        }
      
     }
    
     @media(max-width:407px){
        .our_blog_item_big_title_link {
            font-size: 14px!important;
            margin-bottom: 10px!important;
        }
     }

     @media(min-width:376px) and (max-width:407px){
        .our_blog_main_title { 
            font-size: 24px!important;
        }
        .our_blog_main_title_wrapper {
            margin-bottom: 20px!important;
        }

     }

     @media(max-width:375px){
        .our_blog_main_title { 
            font-size: 20px!important;
        }
        .our_blog_main_title_wrapper {
            margin-bottom: 15px!important;
        }

     }

     @media(max-width:1120px){
        .our_blog_item_img_wrapper img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
     }
    @media(min-width:426px) and (max-width:480px){
        .our_blog_item_info {
            font-size: 16px!important;
        }
        .our_blog_main_link_wrapper svg {
            width: 28px!important;
        }
        .our_blog_social_links_title {
            font-size: 22px!important;
        }        
    }
     @media(min-width:371px) and (max-width:425px){
        .our_blog_item_info {
            font-size: 14px!important;
        }
        .our_blog_main_link {
            font-size: 20px!important;
        }
     
        .our_blog_social_links_title {
            font-size: 20px!important;
        }   
        .our_blog_line {
            margin-top: 45px !important;
            margin-bottom: 35px!important;
         }
        .our_blog_main_link_wrapper {
            margin-bottom: 22px!important;
        }
        .our_blog_main_item_first_info_list{
            font-size: 14px!important;
        }
        .our_blog_main_link_wrapper svg {
            width: 25px!important;
        }
        .our_blog_main_item_first_info_title {
            font-size: 18px!important;

        }
        .our_blog_main_item_first_info_text1{
            font-size: 14px!important;
        }
        .our_blog_item_main_wrapper {
            border-radius: 15px!important;
            padding: 50px 20px!important;
        }
     }

     @media(max-width:370px) {
        .our_blog_item_info {
            font-size: 12px!important;
        }
      
        .our_blog_social_links_title {
            font-size: 18px!important;
        }   
        .our_blog_line {
            margin-top: 35px !important;
            margin-bottom: 25px!important;
         }
      
        .our_blog_main_link {
            font-size: 18px!important;
        }
        .our_blog_item_main_wrapper {
            border-radius: 12px!important;
            padding: 40px 10px!important;
        }
        .our_blog_main_link_wrapper {
            margin-bottom: 18px!important;
        }
        .our_blog_main_link_wrapper svg {
            width: 23px!important;
        }
        .our_blog_main_item_first_info_list{
            font-size: 12px!important;
        }

     }

     @media (min-width:551px) and (max-width:800px){
        .our_blog .our_blog_item {
            border-radius: 12px!important;
            padding: 30px 35px!important;
            margin-bottom: 30px!important;
     }
     .our_blog {
        margin-bottom: 43px!important;
    }
    }

    @media (min-width:426px) and (max-width:550px){
        .our_blog .our_blog_item {
            border-radius: 10px!important;
            padding: 25px 20px!important;
            margin-bottom: 24px!important;
     }
     .our_blog_line {
        margin-top: 53px !important;
        margin-bottom: 40px!important;
     }
     .our_blog {
        margin-bottom: 35px!important;
    }
    .our_blog_main_item_first_info_list{
        font-size: 16px!important;
    }
    }

    @media (max-width:425px){
        .our_blog .our_blog_item {
            border-radius: 10px!important;
            padding: 20px 10px!important;
            margin-bottom: 20px!important;
     }
     .our_blog_main_item_first_info_list::before {
        font-size: 20px!important;
     }
     .our_blog_item_main_wrapper {
        margin-bottom: 50px!important;
    }
     .our_blog_social_links_item svg {
        width: 28px!important;
    }
    .our_blog_social_links_item {
        margin-right: 5px!important;
    }
     .our_blog {
        margin-bottom: 30px!important;
    }
    .our_blog_item_date_title {
        font-size: 14px!important;
    }
    }
    @media(max-width:370px){
        .our_blog_show_more_link {
            font-size: 14px!important;
        }
        .our_blog_item_img_wrapper {
            margin-bottom: 15px!important;
        }
        .our_blog_main_item_first_info_text1{
            font-size: 12px!important;
        }
    }

    @media(min-width: 331px) and (max-width:370px){
        .our_blog_main_item_first_info_title {
            font-size: 16px!important;
         
        }
    }

    @media(max-width: 330px){
        .our_blog_main_item_first_info_title {
            font-size: 14px!important;
            
        }
    }