.clients_title{
    margin-bottom: 40px;
    text-align: center;
}

.second_info{
    margin-bottom: 20px;
}

//second_result

.result_second_main_wrapper{
    width: 100%;
    .result_second_wrapper{
        width: 100%;
        max-width: 510px;
        margin: 0 auto;
    }
    .result_second_title{
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        text-align: center;
        color: #000000;
        margin-bottom: 16px;
    }
    .result_second_text{
        font-family: 'Manrope', sans-serif;    
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 170%;
        color: #000000;
        margin-bottom: 38px;
    }
    .result_second_title_sign_wrapper{
        text-align: center;
        position: relative;
        bottom: 198px;
       
    }
    .result_second_link_wrapper{
        text-align: center;
    }
    .result_second_link{
    background: linear-gradient(90deg, #6ABE5C 0%, #6ED87F 100%);
    box-shadow: 0px 20px 30px rgba(24, 227, 68, 0.35), inset 0px 4px 30px rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    padding: 33px 65px;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Manrope', sans-serif; 
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    color: #FFFFFF;

    }
    .result_second_link:hover{
        background: linear-gradient(90deg, #54A547 0%, #57C269 100%);
box-shadow: 0px 4px 14px rgba(24, 227, 68, 0.35), inset 0px 4px 30px rgba(255, 255, 255, 0.4);
    }
}

//proffessionals
.professionals{
   width: 100%;
   margin: 0 auto;
   margin-bottom: 97px;
    max-width: 1816px;
    background: #FFFFFF;
    padding-top: 97px;
    padding-bottom: 100px;
    border-radius: 56px;
}
  .professionals_wrapper{
      max-width: 1128px;
      width: 100%;
      margin: 0 auto;
  }
  .professional_text{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #000000;
    position: relative;
    bottom: 50px;
  }
  .professionals_items_wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .professionals_item{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 33%;
      max-width: 334px;
  }
  .professionals_item_text_title{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 3px;
  }
  .professionals_item_text_info{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    color: #3E4143;
  }
  .professionals_item_img_wrapper{
      margin-bottom: 10px;
  }
  .professionals_title_sign_wrapper{
        text-align: center;
        margin-bottom: 36px;
  }

  //unnecessary_worries
  .unnecessary_worries{
      width: 100%;
      margin-bottom: 136px;
      .unnecessary_worries_wrapper{
          width: 100%;
          max-width: 1128px;
          margin: 0 auto;
      }
      .unnecessary_worries_items_wrapper{
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .unnecessary_worries_item{
          width: 33%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          max-width: 334px;
      }
      .unnecessary_worries_item_texts_title{
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;      
        color: #000000;
      }
      .unnecessary_worries_item_texts_info{
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;     
        color: #000000;
      }
      .unnecessary_worries_item_texts_wrapper{
        text-align: center;
      }
      .unnecessary_worries_item_img_wrapper{
          margin-bottom: 23px;
      }
  }

  .cooperation{
      width: 100%;
      max-width: 936px;
     background: #FFFFFF;
     border-radius: 56px;
      margin: 0 auto;
      margin-bottom: 136px;
      padding-top: 114px;
      padding-bottom: 121px;
      .cooperation_wrapper{
          margin: 0 auto;
          width: 100%;
          max-width: 630px;
      }
      .cooperation_title{
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        text-align: center;
        color: #000000;
        margin-bottom: 57px;
      }

      .cooperation_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .cooperation_item_texts_title{
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        text-align: center;
        color: #000000;
      }
      .cooperation_item_texts_info{
        font-family: 'Manrope', sans-serif;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        color: #3E4143;
      }
      .cooperation_item_texts_wrapper{
          width: 350px;
          margin: 0 auto;
      }
      .cooperation_link{
        background: linear-gradient(90deg, #6ABE5C 0%, #6ED87F 100%);
        box-shadow: 0px 20px 30px rgba(24, 227, 68, 0.35), inset 0px 4px 30px rgba(255, 255, 255, 0.4);
        border-radius: 50px;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 33px 55px;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 19px;
        color: #FFFFFF;
      }
      .cooperation_link:hover{
        background: linear-gradient(90deg, #54A547 0%, #57C269 100%);
        box-shadow: 0px 4px 14px rgba(24, 227, 68, 0.35), inset 0px 4px 30px rgba(255, 255, 255, 0.4);
      }
      .cooperation_link_wrapper{
          position: relative;
          bottom: 50px;
      }
  }
@media(min-width:426px) and (max-width:550px){
    .clients_title{
        margin-bottom: 28px!important;
        text-align: center;
    }
}


@media(max-width:425px){
    .clients_title{
        margin-bottom: 18px!important;
        text-align: center;
    }
}



@media (min-width: 801px) and (max-width: 1120px){
.result_second_title {
    font-size: 42px!important;
}
}

@media (min-width: 651px) and (max-width: 800px){
    .result_second_title {
        font-size: 38px!important;
    }

}

@media (min-width: 455px) and (max-width: 650px){
.result_second_title {
    font-size: 28px!important;
}
.result_second_text {
    font-size: 20px!important;
    margin-bottom: 30px!important;
}
.unnecessary_worries {
    margin-bottom: 100px!important;
}
}

@media (min-width: 408px) and (max-width: 454px){
    .result_second_title {
        font-size: 24px!important;
    }
    .result_second_text {
        font-size: 18px!important;
        margin-bottom: 25px!important;
    }
    .unnecessary_worries {
        margin-bottom: 70px!important;
    }
}

@media (min-width: 376px) and (max-width: 407px){
    .result_second_title {
        font-size: 22px!important;
    }
    .result_second_text {
        font-size: 16px!important;
        margin-bottom: 20px!important;
    }
    .unnecessary_worries {
        margin-bottom: 60px!important;
    }
    
}

@media (max-width: 375px){
    .result_second_title {
        font-size: 18px!important;
    }
    .unnecessary_worries {
        margin-bottom: 50px!important;
    }
    .result_second_text {
        font-size: 14px!important;
        margin-bottom: 10px!important;
    }
}
@media (min-width: 550px) and (max-width: 850px){
    .result_second_link {
    padding: 28px 50px!important;
    font-size: 17px!important;
}
.cooperation_link{
    padding: 28px 50px!important;
    font-size: 17px!important;
}

}

@media (min-width: 471px) and (max-width: 549px){
    .result_second_link {
        padding: 25px 35px!important;
        font-size: 15px!important;
    }
    .cooperation_link{
        padding: 25px 35px!important;
        font-size: 15px!important;
    }
    
}

@media (min-width: 426px) and (max-width: 470px){
    .result_second_link {
        padding: 20px 30px!important;
        font-size: 14px!important;
    }
    .cooperation_link{
        padding: 20px 30px!important;
        font-size: 14px!important;
    }
    
}

@media (max-width: 425px){
    .result_second_link {
        padding: 15px 25px!important;
        font-size: 12px!important;
    }
    .cooperation_link{
        padding: 15px 25px!important;
        font-size: 12px!important;
    }
    
}
@media (max-width: 600px){
.result_second_img_wrapper img {
    width: 100%;
}
.result_second_title_sign_wrapper {
    bottom: 100px!important;
}
}

@media(min-width:551) and (max-width: 727px){
    .professional_text {
    bottom: 30px!important;
}
}


@media (max-width: 600px){
    .professionals_title_sign_wrapper {
        margin-bottom: 30px!important;
    }
    .cooperation_item_texts_wrapper {
        width: unset!important;
    }
    .cooperation {
       padding-left: 20px;
       padding-right: 20px;
    }

}

@media (min-width:935px) and (max-width: 1060px){
    .professionals_item_img_wrapper img {
        width: 200px!important;
    }
    .professionals_item{
        max-width: unset!important;
    }
    .professionals_wrapper {
        max-width: 1128px;
        width: 95%!important;
    }
    .professionals_item_text_info {
        font-size: 15px!important;
    }
}

@media (min-width: 851px) and (max-width: 934px){
    .professionals_item_img_wrapper img {
        width: 170px!important;
    }
    .professionals_item{
        max-width: unset!important;
    }
    .professionals_wrapper {
        max-width: 1128px;
        width: 95%!important;
    }
    .professionals_item_text_info {
        font-size: 15px!important;
    }
}

@media (min-width: 426px) and (max-width: 550px){
    .professionals_item_img_wrapper img {
        width: 170px!important;
    }
    .professionals_item_text_info{
        font-size: 18px!important;
    }
    .professionals_item_text_info {
        font-size: 15px!important;
    }
    .professional_text {
        bottom: 25px!important;
        font-size: 20px!important;
    }
    .unnecessary_worries_item_texts_title {
        font-size: 18px!important;
     }
     .unnecessary_worries_item_img_wrapper svg{
         width: 68px!important;
         
     }
     .unnecessary_worries_item_img_wrapper{
         margin-bottom: 18px!important;
     }
}
@media (min-width:361px) and (max-width: 425px){
    .professionals_item_img_wrapper img {
        width: 150px!important;
    }
    .professional_text {
        bottom: 20px!important;
        font-size: 18px!important;
    }
    .professionals_item_text_info{
        font-size: 16px!important;
    }
    .professionals_item_text_info {
        font-size: 14px!important;
    }
}
@media (max-width: 360px){
    .professionals_item_img_wrapper img {
        width: 130px!important;
    }
    .professionals_item_text_info{
        font-size: 16px!important;
    }
    .professional_text {
        bottom: 15px!important;
        font-size: 16px!important;
    }
    .professionals_item_text_info {
        font-size: 12px!important;
    }
}


@media (max-width: 850px){
    .professionals_item{
        width: 100%!important;
        margin-bottom: 35px;
    }
    .professionals_items_wrapper{
        flex-wrap: wrap;
    }
   
    .professionals_item{
        max-width: unset!important;
    }
    .professionals_wrapper {
        max-width: 1128px;
        width: 95%!important;
    }
   

}

@media (min-width: 426px) and (max-width: 800px){
   .professionals {
    padding-top: 80px!important;
    padding-bottom: 80px!important;
    border-radius: 24px!important;
    margin-bottom: 80px!important;
}
.cooperation{
    padding-top: 80px!important;
    padding-bottom: 80px!important;
    border-radius: 24px!important;
    margin-bottom: 80px!important;
}
}

@media (max-width: 425px){
    .professionals {
     padding-top: 50px!important;
     padding-bottom: 50px!important;
     border-radius: 20px!important;
     margin-bottom: 50px!important;
 }
 .cooperation_item_img_wrapper img {
    height: 120px!important;
}
.cop_line img {
    height: 120px!important;
}
 .cooperation{
    padding-top: 50px!important;
    padding-bottom: 50px!important;
    border-radius: 20px!important;
    margin-bottom: 50px!important;
}
 .unnecessary_worries_item_texts_title {
    font-size: 16px!important;
 }
 .unnecessary_worries_item_img_wrapper svg{
     width: 64px!important;
     
 }
 .unnecessary_worries_item_img_wrapper{
     margin-bottom: 15px!important;
 }
 }
 

 @media (min-width: 920px) and (max-width: 1070px){
 .unnecessary_worries_item_texts_title {
    font-size: 18px!important;
 }
 .unnecessary_worries_item_img_wrapper svg{
     width: 68px!important;
     
 }
 .unnecessary_worries_item_img_wrapper{
     margin-bottom: 18px!important;
 }
 .unnecessary_worries_item{
     max-width: unset!important;
 }
}


@media  (max-width: 919px){
 
    .unnecessary_worries_item{
        max-width: unset!important;
        width: 100%!important;
        margin-bottom: 40px;
    }
    .unnecessary_worries_items_wrapper{
        flex-wrap: wrap;
        justify-content: space-between!important;
    }
   }

   @media (min-width: 801px) and (max-width: 1120px){
       .cooperation_title{
        font-size: 42px!important;
    }
}

@media (min-width: 651px) and (max-width: 800px){
        .cooperation_title{
         font-size: 38px!important;
     }
 }

 @media (min-width: 455px) and (max-width: 650px){
    .cooperation_title{
     font-size: 30px!important;
     margin-bottom: 40px!important;
 }
 .cooperation_item_texts_title {
    font-size: 24px!important;
 }
}

@media (min-width: 408px) and (max-width: 454px){
    .cooperation_title{
     font-size: 26px!important;
     margin-bottom: 28px!important;
 }
 .cooperation_item_texts_title {
    font-size: 22px!important;
 }
 .cooperation_item_texts_info {
    font-size: 15px!important;
 }
}


@media (min-width: 376px) and (max-width: 407px){
    .cooperation_title{
     font-size: 22px!important;
     margin-bottom: 20px!important;
 }
 .cooperation_item_texts_title {
    font-size: 20px!important;
 }
 .cooperation_item_texts_info {
    font-size: 13px!important;
 }
}


@media (max-width: 375px){
    .cooperation_title{
     font-size: 18px!important;
     margin-bottom: 15px!important;
 }
 .cooperation_item_texts_title {
    font-size: 16px!important;
 }
 .cooperation_item_texts_info {
    font-size: 12px!important;
 }
}